@page
@using Logic.Classes
@using Logic.Controllers
@using DAL
@model IndexModel
@{
	ViewData["Title"] = "Home";
}

<h1>Welcome, @Model._loggedInEmployee.Username !</h1>

<h2 class="mt-3 mb-2">Announcements:</h2>

<div class="row">
	@{
		if (Model._announcements != null)
		{
			foreach (Announcement a in Model._announcements)
			{
				{
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">@a.Title</h4>
								<p class="card-text">@a.Details</p>
							</div>
						</div>
					</div>
				}
			}
		}
	}
</div>

<h2 class="mt-3">Shifts:</h2>
<div class="row">
	@{
		int i = 0;
	}
	@foreach (var shift in Model._assignedShifts)
	{
		<div class="col-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						@shift.Date.ToShortDateString() : @shift.GetType()
					</h5>
					@{
						if (shift.Type == (int)ShiftType.Morning)
						{
							<p class="card-text">8am - 12pm</p>
						}
						else if (shift.Type == (int)ShiftType.Afternoon)
						{
							<p class="card-text">12pm - 4pm</p>
						}
						else if (shift.Type == (int)ShiftType.Evening)
						{
							<p class="card-text">4pm - 8pm</p>
						}
					}
					
				</div>
			</div>
		</div>
		i++;
	}
</div>
