@page
@using Logic;
@using Logic.Classes;
@model WebApplication2.Pages.ScheduleModel
@{
}

<h1>@ViewData["Title"]</h1>

<h3>Your shifts of @Model.NewDate.AddDays(0 - (int)Model.NewDate.DayOfWeek + 1).ToShortDateString() - @Model.NewDate.AddDays(6 - (int)Model.NewDate.DayOfWeek + 1).ToShortDateString()</h3>

<div class="schedule">
    <form method="post">
        <button class="btn btn-secondary mt-3 mb-3" asp-page-handler="PreviousWeek">Previous Week</button>
        <button class="btn btn-secondary mt-3 mb-3" asp-page-handler="CurrentWeek">Current Week</button>
        <button class="btn btn-secondary mt-3 mb-3" asp-page-handler="NextWeek">Next Week </button>
    </form>
</div>

<table class="table table-striped text-center">
    <thead class="thead">
        <tr>
            <th class="p-4">Shift Type</th>
            @for (int dayIndex = 0; dayIndex < Model.WeekDays.Count; dayIndex++)
            {
                var day = Model.WeekDays[dayIndex];
                var date = Model.NewDate.AddDays(dayIndex - (int)Model.NewDate.DayOfWeek + 1);
                <th class="@(date.Date == DateTime.Today ? "table-info" : "") p-4">@day<br />@date.ToString("dd-MM-yyyy")</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="p-4">Morning</td>
            @for (int dayIndex = 0; dayIndex < Model.WeekDays.Count; dayIndex++)
            {
                bool working = false;
                foreach (Shift shift in Model._assignedShifts)
                {
                    if (shift.Date == Model.NewDate.AddDays(dayIndex - (int)Model.NewDate.DayOfWeek + 1) && shift.Type == (int)ShiftType.Morning)
                        working = true;
                }

                <td class="@(working ? "table-danger" : "table-secondary") p-4">@((working ? "Working" : "Not Working"))</td>
            }
        </tr>
        <tr>
            <td class="p-4">Afternoon</td>
            @for (int dayIndex = 0; dayIndex < Model.WeekDays.Count; dayIndex++)
            {
                bool working = false;
                foreach (Shift shift in Model._assignedShifts)
                {
                    if (shift.Date == Model.NewDate.AddDays(dayIndex - (int)Model.NewDate.DayOfWeek + 1) && shift.Type == (int)ShiftType.Afternoon)
                        working = true;
                }
                <td class="@(working ? "table-danger" : "table-secondary") p-4">@((working ? "Working" : "Not Working"))</td>
            }
        </tr>
        <tr>
            <td class="p-4">Evening</td>
            @for (int dayIndex = 0; dayIndex < Model.WeekDays.Count; dayIndex++)
            {
                bool working = false;
                foreach (Shift shift in Model._assignedShifts)
                {
                    if (shift.Date == Model.NewDate.AddDays(dayIndex - (int)Model.NewDate.DayOfWeek + 1) && shift.Type == (int)ShiftType.Evening)
                        working = true;
                }
                <td class="@(working ? "table-danger" : "table-secondary") p-4">@((working ? "Working" : "Not Working"))</td>
            }
        </tr>
    </tbody>
</table>